STRIPE_WEBHOOK_SECRET=
BETTER_COOKIE_NAME=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=
NEXT_PUBLIC_API_URL=
GOOGLE_CLIENT_ID=
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=
AWS_BUCKET_NAME=
AWS_REGION=
AWS_SECRET_ACCESS_KEY=
AWS_ACCESS_KEY_ID=
STRIPE_SECRET_KEY=
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
DATABASE_URL=
