.gallery_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5rem;
    background: url('/media/starry_background.png') no-repeat center center;
    background-size: cover;
    /* background-color: var(--gallery-background); */
    min-height: 100vh;
}

.image_wrapper {
    position: relative;
    display: flex;
}

.image_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0); /* Transparent overlay */
    z-index: 1;
}

.carousel {
    min-width: 20rem;
    max-width: 60rem;
    max-height: 90rem;
    padding: 0rem 4rem 0rem 4rem;
    /* border: 2px solid red; */
    margin: 0rem 0.5rem 1rem 0.5rem;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* border: 1rem solid white; */
}

.title {
    text-align: center;
}

.description {
    flex: 3;
    /* max-width: 50%; */
    padding: 1rem 2rem 2rem 2rem;
    margin-top: 0rem;
    color: white;
    max-width: max(75%, 25rem);
}

.blurb {
    text-align: left;
}

@media screen and (min-width: 1020px) {
    .gallery_wrapper {
        flex-direction: row;
        justify-content: center;
        align-items: normal;
        padding-top: 0rem;
        padding-bottom: 10rem;
        min-height: calc(100vh - 9vh);
    }

    .description {
        flex: 1;
        max-width: 25rem;
        min-width: 20rem;
        /* padding-top: 4rem;
        padding-left: 0rem;
        padding-right: 1rem;
        padding-bottom: 0rem; */
        padding: 4rem 2rem 0rem 0rem;
        margin-right: 3rem;
    }

    .carousel {
        flex: 1;
        padding-top: 4rem;
        margin-right: 5rem;
        margin-left: 5rem;
        margin: 0rem 4rem 1rem 4rem;
        max-width: 43rem;
        /* max-height: 50rem; */
        aspect-ratio: 1/1;
    }
}
