/* .gallery_container {
    background-color: rgb(32, 32, 32);
} */

.title {
    display: flex;
    justify-content: center;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    padding-top: 5rem;
    padding-bottom: 4rem;
    color: white;
}

.wrapper {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.grid_wrapper_vertical {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5rem;
    align-items: center;
    margin-bottom: 4rem;
    max-width: 70rem;
}

.grid_wrapper_horizontal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    margin-bottom: 4rem;
    max-width: 60rem;
}

.image_container {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    z-index: 3;
}

.image_link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; /* Ensure it is above the image */
}

.image_wrapper {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    z-index: 0; /* Ensure it is below the link */
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width: 1200px) {
    .wrapper {
    }

    .grid_wrapper_vertical,
    .grid_wrapper_horizontal {
        flex-direction: column;
        gap: 0rem;
        margin-bottom: 0rem;
    }

    .image_wrapper {
        padding: 2.5rem;
    }
}
